:root {
  --clr-white: #ffffff;
  --clr-black: #2b2f33;
  --clr-grey: #ebebeb;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

button {
  cursor: pointer;
}
.toggle-btn:hover,
.toggle-btn:focus {
  cursor: pointer;
}
button:hover,
button:focus {
  opacity: 0.8;
}
html {
  height: 100%;
}
html,
body {
  overflow-x: hidden;
}
body {
  background: var(--clr-grey);
  color: var(--clr-black);
  font-family: Poppins, sans-serif;
  position: relative;
}
li,
a {
  text-decoration: none;
  list-style: none;
}

.navbar {
  font-size: 1.1rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: left 0.5s ease;
  z-index: 7;
  background: transparent;
  padding: 1rem;
}
.slide-in {
  left: 0%;
}
@media (min-width: 1000px) {
  .navbar {
    width: 30vw;
    left: calc(-30vw);
  }
  .slide-in {
    left: 0.2%;
  }
  .toggle-btn {
    /* left: 10; */
  }
}

#nav-list {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  background: var(--clr-white);
  border-radius: 1rem;
  overflow-y: scroll;
}

.title {
  background: var(--clr-grey);
  font-weight: bold;
  margin: 0.4rem 0;
}
.title,
.tags-notes {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.tags-notes {
  background: var(--clr-white);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: background-color 0.1s cubic-bezier(0.15, 0.89, 1, 1.03);
  margin-left: 1rem;
  font-weight: 500;
}

.tags-notes:active,
.tags-notes:focus,
.tags-notes--active {
  background: var(--clr-grey);
}

.green {
  color: #00cc99;
}
.cyan {
  color: #69ddff;
}
.yellow {
  color: #ffdb3a;
}
.blue {
  color: #4c5cf1;
}
.red {
  color: #dd1155;
}

.toggle-btn {
  position: absolute;
  background: var(--clr-white);
  border-radius: 20rem;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  z-index: 6;
  left: 101%;
  top: 1%;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.toggle-btn:hover {
  transform: scale(1.1);
  outline: none;
}
.toggle-btn:focus {
  outline: none;
}

.close-nav {
  left: 87%;
  transform: rotateZ(180deg) !important;
}

.new {
  border-radius: 20rem;
  border: none;
  position: fixed;
  width: 4rem;
  height: 4rem;
  background: #2a86ff;
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  bottom: 1rem;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  transition: font-size 0.5s ease;
  transition: bottom 0.1s cubic-bezier(0, 1.12, 0.76, 1.03);
  z-index: 6;
  outline: none;
}
.new-icon {
  font-size: 1.1rem;
  transition: font-size 0.1s ease;
  outline: none;
}

.new:hover .new-icon,
.new:focus .new-icon {
  font-size: 1.5rem;
}
.new-hidden {
  bottom: -4rem !important;
}

.modal {
  z-index: -1;
  border-radius: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 101vh;
  margin-left: auto;
  margin-right: auto;
  min-height: 25rem;
  max-width: 50rem;
  padding: 1rem;
  background: transparent;
  border: none;

  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.267); */
  transition: top 0.5s cubic-bezier(0, 1.12, 0.76, 1.03);
  z-index: 6;
}
.modal-visible {
  top: 10rem;
}

.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  display: none;
}
.modal-visible::before {
  display: block;
  background: rgba(0, 0, 0, 0.233) !important;
}
.modal-header,
.modal-body,
.modal-footer {
  background: var(--clr-white);
}
.modal-header {
  flex: 1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem 0;
}
#close-modal {
  float: right;
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4rem 0.3rem 0 0;
}
.modal-body {
  flex: 2;
  display: flex;
  align-items: stretch;
}
#note-text {
  width: 100%;
  height: 15rem;
  border: none;
  border-top: 2px solid var(--clr-grey);
  border-bottom: 2px solid var(--clr-grey);
  overflow: scroll;
  outline: none;
  resize: none;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem;
  background: var(--clr-white);
  transition: background-color 0.1s cubic-bezier(0.15, 0.89, 1, 1.03);
}
#note-text:active {
  background: #f0f0f0;
}
.modal-footer {
  flex: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.discard,
.done {
  font-size: 1.3rem;
}
.discard {
  background: transparent;
  color: rgb(104, 104, 104);
  border: hidden;
}
.done {
  border-radius: 0.5rem;
  border-width: 0;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.7rem 1.5rem;
  transition: transform 0.2s ease;
}
.done:active {
  background: #363636;
  transform: scale(0.97);
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
  position: relative;
  z-index: 5;
}

.note {
  background: var(--clr-white);
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 1rem 0;
}
.note-text {
  font-size: 1.3rem;
  overflow-wrap: break-word;
}

.note-date {
  color: #868686;
  font-size: 0.9rem;
}

.note-header {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  opacity: 0.8;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.fa-trash-alt {
  font-size: 1.5rem;
  color: #fd504a;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.2s ease;
  transition: background-color 0.2 ease;
}

.fa-trash-alt:active {
  background-color: var(--clr-grey);
  font-size: 1.4rem;
}
.fa-trash-alt:hover {
  font-size: 1.6rem;
  cursor: pointer;
}

#tag-select {
  border: none;
  background: var(--clr-white);
  margin: 1.5rem 0 0 1rem;
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  outline: none;
  cursor: pointer;
}
option {
  padding: 1rem;
}

.all-types::before {
  content: "(";
}
.all-types::after {
  content: ")";
}

.empty {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 50vh;
  color: var((--clr-black));
  opacity: 0.7;
  display: none;
}
