:root {
  --clr-white: #f9f4f5;
  --clr-black: #272d2d;
  --clr-grey: #ebebeb;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background: var(--clr-white);
  color: var(--clr-black);
}
li,
a {
  text-decoration: none;
  list-style: none;
}

.navbar {
  font-size: 1.4rem;
  border: 1px solid red;
  height: 100vh;
  display: flex;
}

#nav-list {
  border: 1px solid blue;
  width: 100%;
}

.title {
  background: var(--clr-grey);
  font-weight: 500;
  text-transform: uppercase;
}
.title,
.tags-notes {
  /* border: 1px solid red; */
  padding: 0.9rem;
}

.tags-notes {
  background: var(--clr-white);
  border-bottom: 2px solid var(--clr-grey);
}
